header
	div.container
		div.row
			div.col-sm-3
				a(href="/" class="logo")
					img(src="img/logo-big.png" alt="thedevcrev logo")
				div.mob-button
					span
					span
					span
			div.col-sm-9
				nav
					ul.nav.right
						each val, index in {1:'main',2:'services',3:'technologies',4:'clients',5:'advantages',6:'contact',7:'hire us'}
							li
								if index === '7'
									button(type="button" class="order-popup" data-svg-popup="order-popup")= val
								else
									a(href='#' + val)= val