form.send(action="//formspree.io/sales@thedevcrew.com" method="POST")
	<input type="hidden" name="_next" value="/thanks.html" />
	<input type="text" name="_gotcha" style="display:none" />
	input(type="hidden" name="form_subject" value="Заявка с THEDEVCREV")
	div.container-fluid
		div.row
			div.col-md-6.clrp
				div.form-group
					label(for="form-text") Name
					input(type="text" name="form-text")
			div.col-md-6.clrp
				div.form-group
					label(for="phone-area") Phone
					input(type="text" name="phone" required)
			div.col-md-6.clrp
				div.form-group
					label(for="_replyto") E-mail
					input(type="email" name="_replyto" required)
			div.col-md-6.clrp
				div.form-group
					label(for="place") Region
					input(type="text" name="place" required)
	div.form-group.textarea-block
		label(for="form-textarea") Message
		textarea(name="form-textarea")
		button(type="submit" class="btn full") Submit