section#fast-order
	div.container
		div.row
			div.col-sm-8
				h3.subtitle Are you still thinking?
			div.col-sm-4
				button(type="button" data-svg-popup="order-popup" class="order-popup btn") hire us